/* 新規登録画面のデザイン */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


#midasi{
    font-family: 'Cherry Swash', cursive;
    font-size: 5ex;
}
/*ログイン*/
.button_solid003 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    max-width: 200px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background:#282828;
    border-radius: 8px;
    border-bottom: solid 5px #474849;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.button_solid003 a:hover {
    border-bottom: solid 2px #7c7c7c;
    transform: translateY(3px);

}

.p-top-font{
    font-size: 40px;
    font-weight:900;
    margin-left: 3%; 
    margin-top: 5%;
}

.back-color-center{
    background-color: #eee;
    text-align: center;
    width: 80%;
    margin:auto;
    border-radius: 10px;
    padding: 10%;
}

.list{
    width:80%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3%;
    box-shadow: 5px 5px 15px #444;
}

.button_font{
    width: 80%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 25px;
    font-size: 30px;
    color: white;
    background-color: #06f;
    border-color: white;
    border-style: none;
    cursor: pointer;
}

.font-position{
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
    padding-top: 5%;
}