# これはサーバの設定ファイルです

# phpのエラーを画面表示（本番では消す）
php_flag display_errors On
php_value error_reporting 6135
# ---

# 拡張子非表示
 RewriteEngine on
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME}\.php -f
 RewriteRule ^(.*)$ $1.php [L]

 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME}\.html -f
 RewriteRule ^(.*)$ $1.html [L]

 RewriteCond %{THE_REQUEST} ^.*\.(php|html)
# RewriteRule ^(.*)\.(php|html)$ http://lifeis.heavy.jp/$1 [R=301]# 本番用
# ---

# .htmlを.phpとして認識させる
<FilesMatch "\.html$">
  AddType application/x-httpd-php .html
</FilesMatch>
# ---