/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

#midasi{
    font-family: 'Cherry Swash', cursive;
    font-size: 5ex;
}

.reji{
    margin-top: auto;
    margin-right: 5%;
    text-align: center;

}

.mae{
    margin-top: 50px;
	text-align: center;
}

.kessai_img_size{
    width: 30%;
    height: 20%;
}

/*ログイン*/
.button_solid003 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 230px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background:#282828;
    border-radius: 8px;
    border-bottom: solid 5px #474849;
    text-decoration: none;
    color: rgb(255, 255, 255);
   
    
}
.button_solid003 a:hover {
    border-bottom: solid 2px #7c7c7c;
    transform: translateY(3px);
    

}
.button_solid003 a{
    margin-right: 10px;
}
.font-word-break{
    font-size: 15px;   
    color: #eee;
  }

  .return-btn{
    width: 150px;
    padding:13px;
    border-radius:15px;
    border-style: solid;
    color: green;
    border-color: green;
    background-color: #FFF;
  }
.return-btn:hover{
    color: white;
    background-color: green;
    box-shadow: 0px 3px 20px #bbb;
}

.return-btn_2{
    width: 130px;
    padding:13px;
    border-radius:15px;
    border-style: solid;
    color: green;
    border-color: green;
    background-color: #FFF;
    float: left;
  }
.return-btn_2:hover{
    color: white;
    background-color: green;
    box-shadow: 0px 3px 20px #bbb;
}
.kakutei_button{
 text-align: right;
}

.bg-light{
    margin-left:10%;
    margin-right: 10%;
}

.bg-margin{
    margin-left: 10%;
    margin-right: 10%;
}
.kessai_img_size{
    width : 200px;
    height: 200px;

}
.td_css{
    width: 45vw;
}
.flex_left{
    margin-left: 2%;
}
/* .flex_right{
    float:right;
    background-color: #474849;
    width: 27vw;
} */

.fixed_text{
    margin: 0 auto 2em;
    right: 3vw;
    padding: 6px 40px;
    background-color: cornsilk;
    width: 400px;
    border: 3px solid #282828;
    border-radius: 5px;
}

.sum_mny {
    font-size: 30px;
}

.sum_text {
    text-align: center;
}

.some_actions {
    display: flex;
    align-items: stretch;
}

<<<<<<< Updated upstream
=======
.text_position {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

>>>>>>> Stashed changes
/* .cnt_btn{
 width: 60px;
 font-weight: bold;
 padding:7%;
 background-color:olivedrab;
 color:white ;
 border-style: solid;
 border-radius: 10px;
 border-color:olivedrab;
 box-shadow: 0px 3px 3px #bbb;
}
.cnt_btn:hover{
    background-color: white;
    color: olivedrab;
    box-shadow: none;
} */

<<<<<<< Updated upstream
/* .delete_btn{
    width:60px;
=======
.delete_btn{
    /* width:60px;
>>>>>>> Stashed changes
    font-weight: bold;
   padding:7%;
   background-color:#f55;
   color: #eee;
   border-style: solid;
   border-color:#f55;
   border-radius: 10px;
   box-shadow: 0px 3px 3px #bbb; */
   margin: auto;
}
.delete_btn:hover{
    background-color: white;
    color: #f55;
    box-shadow: none;
} */

/* 商品購入数変更css */
.number-spinner-wrap{
    position: relative;
    display: block;
    width: 105px !important;
    height: 30px;
    margin:auto;
}

.number-spinner-wrap input{
    width: 100%; height: 100%;
    /* padding-left: 30px;
    padding-right: 30px; */
    text-align: center;
    border-radius: 4px;
  }

  .number-spinner-wrap .spinner{
    position: absolute;
    top: 0px;
    height: 30px;
    width: 26px;
    /* transform: translate(0, -50%); */
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    background: lightgray;
    border-radius: 2px;
    cursor: pointer; 
    user-select: none;
  }

.number-spinner-wrap .spinner-down{
    left: 0px;
    /* border-right: 1px solid lightgray; */
    /* margin-top:5px; */
    text-align: center;
}

.number-spinner-wrap .spinner-up{
    right: 0px;
    /* border-left: 1px solid lightgray; */
    /* margin-top: 5px; */
    text-align: center;
}

/* .shohin_val {
 
    
}  */

.teble_dai {
    text-align: center;
}

.shohin_name {
    font-size: 25px;
}

.del_shohin_name {
    font-size: 25px;
    text-decoration: line-through;
    color: red;
}

/* 住所登録.htmlの確認ボタン */
.kakunin{
    width: 130px;
    height: 60px;
    background-color:#FFF;
    color: #0066ff;
    border-radius: 10px;
    border-style:solid;
    border-color: #0066ff;
    box-shadow:0px 5px 5px #bbb;
}
.kakunin:hover{
    background-color: #0066ff;
    color: #FFF;
}

#siharai{
    display: none;
}

#siharai-conbini{
    display: none;
}

.conbini{
    width: 50%;
    font-weight: bold;
    padding:2% 4%;
    margin-bottom: 13px;
    border:2px solid #474849;
}

<<<<<<< Updated upstream
.errField {
    border: 2px solid #ff2c2c;
    border-radius: 5px;
    background-color: #ffd1d1;
    padding: 1%;
    margin: 1%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}

/* 商品購入数変更css */
.number-spinner-wrap{
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
}

.number-spinner-wrap input{
    width: 100px; height: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    text-align: center;
    border-radius: 3px;
  }

  .number-spinner-wrap .spinner{
    position: absolute;
    top: 0px;
    width: 25px;
    height: 30px;
    /* transform: translate(0, -50%); */
    font-size: 15px;
    padding: 0px;
    text-align: center;
    background: lightgray;
    border-radius: 3px;
    /* cursor: pointer;
    user-select: none; */
    margin: auto;
    font-weight: 800;
  }

.number-spinner-wrap .spinner-down{
    left: 0px;
    /* border-right: 1px solid lightgray; */
    border-radius: 2px;
    text-align: center;
}

.number-spinner-wrap .spinner-up{
    left: 80px;
    /* border-left: 1px solid lightgray; */
    border-radius: 2px;
    text-align: center;
}

.size_position {
    text-align: center;
}

.del_icon {
    text-align: center;
}

.hyou_size {
    width: 80%;
    margin: auto;
}
=======


.hyou_size {
    width: 70%;
    margin: auto;
}

.del_icon {
    border-radius: 5px;
    margin: auto;
}

>>>>>>> Stashed changes
