.container {
    max-width: 960px;
  }

  .kakutei_button{
    float: right;
}

.modoru_button{
    float: left;
    width:40%
}

.continue-button-style{
  width:200px;
  background-color: #0066ff;
  color: white;
  text-align: center;
  margin-left:30px ;
  margin-right: 30%;
  padding:3% 2%;
  border-radius: 10px;
  border: solid #0066ff;
}
.continue-button-style:hover{
  background-color: white;
  color: #0066ff;
}
.log-out-button-style{
  width:200px;
  background-color:#f66;
  color: white;
  text-align: center;
  padding: 3% 2%;
  border-radius: 10px;
  border:solid #f66;
}
.log-out-button-style:hover{
 background-color:  white;
 color:#f66;
}
.continue-shop{
  margin-top: 5%;
  text-align: center;
}

/* .final-bottom{
  width:50%;
  padding: 15px;
  border-radius: 15px;
  color: #000;
  background-color:yellow;
  border-style: solid;
  float: left;
}

.final-bottom:hover{
  background-color: aqua;
  color: blueviolet;
  box-shadow: 0px 5px 15px #000;
}

.log-out{
  width:50%;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background:#d55;
  border-style: solid;
  text-align: center;
}

.log-out:hover{
  background-color: #6f6;
  color: #000;
  border-color: #eee;
  box-shadow: 0px 5px 15px #000;
}
<<<<<<< HEAD
<<<<<<< HEAD

.textlenlim-1{
  float: left;
}

.textlenlim-2{
  text-align: right;
  clear: both;
=======
.line a{
  text-decoration: none;

>>>>>>> 9e4e7b489d84a124349d954b59afc872d823b861
}
=======
.flex-button-style{
  flex-wrap: wrap;
} */
>>>>>>> e20ff7e9ba3be72873cf3b7389579cb80c3f1e21
