.container {
    max-width: 960px;
  }

  .kakutei_button{
    float: right;
}

.modoru_button{
    float: left;
    width:40%
}

.final-bottom{
  width:50%;
  padding: 15px;
  border-radius: 15px;
  color: #000;
  background-color: yellow;
  border-style: solid;
}

.final-bottom:hover{
  background-color: aqua;
  color: blueviolet;
  box-shadow: 0px 5px 15px #000;
}

.log-out{
  width:50%;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background:#d55;
  border-style: solid;
}

.log-out:hover{
  background-color: #6f6;
  color: #000;
  border-color: #eee;
  box-shadow: 0px 5px 15px #000;
}
.line a{
  text-decoration: none;

}
.paaa{
margin-top: 40px;
margin-left: 40px;

}


.margin{
  margin-left: 40px;
  float: right;
}
.nyo{
  text-align: left;
  float: left;
  
}
.dis{
  display: inline-block;
}