/* サブメニューのやつ */
.submenu-relative{
    position:relative;
}
.subu-menu-back{
    position:fixed;
    top: 27%;
    left:14%;
    background-color: #ddd;
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius:10px;
    z-index:50;
    display: flex;
    display: none;
}
.subu-menu-back > .submenu-search{
    width: 50%;
}
.subu-menu-back > .submenu-search > h3{
    text-align: center;
}
.submenu-search > ul > li{
    margin: 0 0 14px 0;
    font-size: 15px;
    text-align: left;
    list-style:none ;
    border-bottom: none;
}
.search-li-3, .search-li-1 ,.search-li-2{
    color: #000;
    text-decoration: none;
}
.search-li-1:hover{
    color: #0066ff;
    border-bottom: 1px solid #0066ff;
}
.search-li-2:hover{
    color: #0066ff;
    border-bottom: 1px solid #0066ff;
}
.search-li-3:hover{
    color: #0066ff;
    border-bottom: 1px solid #0066ff;
}
.subu-menu-back > .submenu-rireki{
    width: 50%;
}
.subu-menu-back > .submenu-rireki >h3{
    text-align: center;
}
.submenu-rireki > ul > li{
    margin: 0 0 14px 0;
    font-size: 15px;
    text-align: left;
    list-style: none;
}
.rireki-li-1, .rireki-li-2{
    color: #000;
    text-decoration: none;
}
.rireki-li-1:hover{
    color: #0066ff;
    border-bottom: 1px solid #0066ff;
}
.rireki-li-2:hover{
    color: #0066ff;
    border-bottom: 1px solid #0066ff;
}
/* メーカー画面のデザイン */
.maker-flex{
    max-width: 80%;
    margin: 20px auto;
    /* background-color: #ccc; */
    display:flex;
}
.maker-list-1{
    width: 25%;
    background-color: #bbb;
    border-radius:10px ;
    font-size: 20px;
}
.maker-list-1 > ul > li{
    padding:20px 0;
    color: #444;
    list-style: none;
}
.maker-list-1 > ul > li:hover{
 text-decoration:underline #09f;
}
.maker-list-2{
    width: 25%; 
    background-color: #bbb;
    border-radius:10px ;
    font-size: 20px;
}
.maker-list-2 > ul > li{
    padding:20px 0;
    color: #444;
    list-style: none;
}
.maker-list-2 > ul > li:hover{
    text-decoration:underline #09f;
   }
.maker-list-3{
    width: 25%;
    background-color: #bbb;
    border-radius:10px ;
    font-size: 20px;
}
.maker-list-3 > ul > li{
    padding:20px 0;
    color: #444;
    list-style: none;
}
.maker-list-3 > ul > li:hover{
    text-decoration:underline #09f;
   }
.maker-list-4{
    width: 25%;
    background-color: #bbb;
    border-radius:10px ;
    font-size: 20px;
}
.maker-list-4 > ul > li{
    padding:20px 0;
    color: #444;
    list-style: none;
}
.maker-list-4 > ul > li:hover{
    text-decoration:underline #09f;
   }
   /* hrefの設定 */
.li-href{
    text-decoration:none #09f;
    color: #444;
}
.li-href:hover{
    color: #444;
    /* text-decoration: underline #09f; */
}

/* カラー検索画面のデザイン */
#color-margin{
    margin-top: 9%;
}
.select-color{
    font-size: 25px;
    font-weight: 600;
    position: fixed;
    top: 30%;
    left:10px;
}
.select-color > span{
    /* text-decoration: underline #444; */
    background-color:#ccc;
}

.color-1{
    width: 80%;
    margin: 5% 13%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.color-1 > form > input[type=submit]{
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 90%;
    border-style: solid;
    cursor: pointer;
}
.color-2{
    width: 80%;
    margin: 5% 13%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.color-2 >  form > input[type= submit]{
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 90%;
    border-style: solid;
    cursor: pointer;
}
.color-3{
    width: 80%;
    margin: 5% 13%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.color-3 > form > input[type=submit]{
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 90%;
    border-style: solid;
    cursor: pointer;
}
/* カラー選択するボタンの色の付け */
#red{
    background-color: red;
}
#red:hover{
    opacity:0.5;
}
#green{
    background-color: green;
}
#green:hover{
    opacity: 0.5;
}
#yellow{
    background-color: yellow;
}
#yellow:hover{
    opacity: 0.5;
}
#blue{
    background-color: #09f;
}
#blue:hover{
    opacity: 0.5;
}
#black{
    background-color: black;
}
#black:hover{
    opacity: 0.5;
}
#olive{
    background-color: olivedrab;
}
#olive:hover{
    opacity: 0.5;
}
#purple{
    background-color: purple;
}
#purple:hover{
    opacity: 0.5;
}
#violet{
    background-color: violet;
}
#violet:hover{
    opacity: 0.5;
}
#brown{
background-color: brown;
}
#brown:hover{
    opacity: 0.5;
}
#aqua{
    background-color: #1cf;
}
#aqua:hover{
    opacity: 0.5;
}
#gold{
    background-color: gold;
}
#gold:hover{
    opacity: 0.5;
}
#wheat{
    background-color: wheat;
}
#wheat:hover{
    opacity: 0.5;
}
.submitStyle{
    font-size:large;
    border: none;
    background-color: #bbb;
    padding-left: 0%;
}
.submitStyle:hover{
    text-decoration: underline #09f;
}