@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


#midasi{
    font-family: 'Cherry Swash', cursive;
    font-size: 40px;   
}

/*ログイン*/
.button_solid003 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    max-width: 200px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background:#282828;
    border-radius: 8px;
    border-bottom: solid 5px #474849;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}
.button_solid003 a:hover {
    border-bottom: solid 2px #7c7c7c;
    transform: translateY(3px);
}
.font-word-break{
    font-size: 15px;   
    color: #eee;
  }

  /* カードの設定 */
.favorite-img{
    width: 100%;
}
.content{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.card-wrap{
    display: flex;
    flex-wrap: wrap;

}
.card-list{
    max-width: 200px;
    margin-right: 45px;
    border-style: solid;
 }
 .card-list:nth-child(4n){
    margin-right: 0;
 }

 .card-list-title{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
 }
 .card-list-text{
    line-height: 1.6;
 }
